<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="robsonmachczew.activities">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="robsonmachczew.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="robsonmachczew.activities.Fazer_Login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.Descontos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.Criar_Lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.Minhas_Listas"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.Minhas_NFes"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.EditRegisterActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="robsonmachczew.activities.ReadQRCodeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>


        <!-- change orientation of scan -->
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

    </application>

</manifest>